* p , h4{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
 }
.img1{
    width: 1350px;
    height: 300px;
    background: url('/static/files/1.jpeg') no-repeat center/cover;
}
.img1 h1{
    color: white;
    margin-top: 0px;
    padding: 70px;
}
.img1 button:hover{
    font-size: 20px;
    color: rgb(28, 70, 106);
    background-color: white;
    margin-left: 150px;
    size: 50px;
    border-radius: 50px;
    width: 150px;
    border: 2px solid rgb(28, 70, 106);
}
.img1 button{
    font-size: 20px;
    color: white;
    background-color: rgb(28, 70, 106);
    margin-left: 150px;
    size: 50px;
    border-radius: 50px;
    width: 150px;
    border: 2px solid white;
    text-decoration: none;
    cursor: pointer;
}
#title{
    text-align: center;
    color: rgb(253, 254, 254);
    font-size: 40px;
    background-color:rgb(28, 70, 106) ;
    height: 60px;
    width: 1350px;
    margin-top: 0;

}
.content{
    margin-left: 300px;
}
.content p{
    width: 690px;
}
.content h4{
    color: rgb(28, 70, 106) ;
}

#des{
    /* margin-left: 300px; */
    color: rgb(28, 70, 106);
    font-weight: bold;
}
.content1{
    margin-left: 350px;
}
.content1 h4{
    color: rgb(246, 54, 16) ;
}
.content1 p{
    width: 600px;
}
.content2{
    margin-left: 300px;
}
.conten2t p{
    width: 690px;
}
.content2 h4{
    color: rgb(28, 70, 106) ;
}
.content2 p{
    width: 690px;
}
#Profile{
    display: flex;
    width: 670px;
}
#Profile p{
    /* margin-left: 30px; */
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}
#Profile img{
height: 200px;
width: 150px;
border-radius: 50%;
margin-right: 20px;
border: 2px solid rgb(28, 70, 106);

}
footer{
    text-align: center;
    padding: 20px 0;
    color: #ffffff;
    background: #343a40;
}
footer p{
    margin-top: 0px;
}
.btn{
    border: 2px solid black;
     margin-left: 20px;
    font-size: 2.5rem;
    color: #007bff;
}
.home-sci i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background: transparent;
    border: rgb(13, 13, 13) 2px solid;
    border-radius: 50%;
    font-size: 15px;
    color: rgb(28, 70, 106);
    text-decoration: none;
    margin: 3px 10px 3px 0;
    transition: 0.5s ease;
    text-align: center;

}
.home-sci i:hover {
    background: rgb(28, 70, 106);
    color: white;
    box-shadow: 0 0 20px rgb(28, 70, 106);
    transform: rotate(360deg);

}
section{
    text-align: center;
}